* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 350px;
    height: 450px;
    margin: auto;
    margin-top: 70px;
    border-radius: 12px;
    background-color: #4834d4;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 25px;
}

.top-bar input {
    display: flex;
    width: 230px;
    height: 45px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.search-icon:hover {
    scale: 0.9;
    opacity: 0.8;
}

.weather-image {
    margin: auto;
    margin-top: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.data-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.data {
    font-size: 15px;
    font-weight: 500;
}

.text {
    font-size: 20px;
    font-weight: 500;
}

.icon {
    margin-top: 10px;
}